<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingu.boot.findpw.word.dao.WordDao">

	<select id="select_word_list" parameterType="Map" resultType="convertMap">
		SELECT
			SESSION_ID, WORD1, WORD2, WORD3, WORD4, WORD5, 
			WORD6, WORD7, WORD8, WORD9, WORD10, WORD11, WORD12, REG_DT,
			CAST(DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS CHAR) AS REG_DT
		FROM JINGU A
		<where>
	       	SESSION_ID = #{sessionId}
        </where>
	</select>
	
	<insert id="insert_word" parameterType="Map" useGeneratedKeys="true" keyProperty="SEQ">
	    INSERT INTO JINGU(
	    	SESSION_ID, WORD1, WORD2, WORD3, WORD4, WORD5, WORD6, WORD7, WORD8, WORD9, WORD10, WORD11, WORD12, REG_DT
	    )VALUES(
	    	#{sessionId}, #{word1}, #{word2}, #{word3}, #{word4}, #{word5}, #{word6}, #{word7}, #{word8}, #{word9}, #{word10}, #{word11}, #{word12}, NOW()
	    )
    </insert>
    
</mapper>